

@model TripKraken.Service.ViewModel.CountryInfoView
@section breadcrump{
    <div class="row">
        <div class="col-lg-6">
            <div class="page-header-title">
                <h5 class="m-b-10">Crime in @Model.Country.Name</h5>
            </div>
            <ul class="breadcrumb">
                <li class="breadcrumb-item"><a href="@Url.Action("CostOfLife","Home")"><i class="feather icon-home"></i></a></li>
                <li class="breadcrumb-item"><a href="#!">Crime - @Model.Country.Name</a></li>
            </ul>
        </div>
        <div class="col-lg-6">
            <div class="i-main no-margin-l" id="icon-wrapper" style="float: right;">
                <div class="i-block no-margin-l" data-clipboard-text="flag flag-icon-background flag-icon-@(Session["countryCode"]!=null ? (Session["countryCode"].ToString().ToLower() ??""):"")" data-filter="flag-icon-af" data-toggle="tooltip" title="" data-original-title="flag-icon-af">
                    <i class="no-padding-l flag flag-icon-background flag-icon-squared flag-icon-@(Session["countryCode"].ToString().ToLower() ??"") icon-flag-custom"></i>
                </div>
            </div>
        </div>
    </div>

    <hr />
}
@{
    Html.RenderAction("Search", "Home", new { actionP = "Index", controllerP = "CrimeRate" });
}

<div class="row">
    <div class="col-xl-12 no-padding-l">
        <div class="card">
            <div class="card-header">
                <h3>Crime</h3>
                <span class="d-block m-t-5">Crime rate</span>
            </div>
            <div class="card-block table-border-style">
                <div class="table-responsive">
                    <table class="table table-hover f-18">
                        <tbody>
                            @foreach (var item in Model.CrimeRates.Where(x => !(x.Key == "TotalSafetyRate" || x.Key == "TotalCrimeRate")))
                            {
                            <tr>
                                <td><span class="f-18">@item.Key</span></td>
                                <td>
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <span class="progress m-t-10" style="height: 25px;width:200px;">
                                                <span class="progress-bar progress-c-theme2" role="progressbar" style="width: @item.Value.ToString().Replace(",",".")%" aria-valuenow="35" aria-valuemin="0" aria-valuemax="100"></span>
                                            </span>
                                        </div>
                                        <div class="col-lg-3 m-t-10">
                                            @{
                                                if (item.Value < 20)
                                                {
                                                    <span class="f-16 pull-left text-c-green"><b>Very low</b></span>
                                                }
                                                if (item.Value >= 20 && item.Value <= 40)
                                                {
                                                    <span class="f-16 pull-left text-c-green"><b>Low</b></span>
                                                }
                                                if (item.Value > 40 && item.Value < 60)
                                                {
                                                    <span class="f-16 pull-left text-c-yellow"><b>Moderate</b></span>
                                                }
                                                if (item.Value >= 60 && item.Value <= 77)
                                                {
                                                    <span class="f-16 pull-left text-c-red"><b>High</b></span>
                                                }
                                                if (item.Value > 77)
                                                {
                                                    <span class="f-16 pull-left text-c-red bold"><b>Very high</b></span>
                                                }
                                            }
                                        </div>
                                    </div>


                                </td>
                                <td><a href="@Url.Action("Create","CrimeRate",new { countryInfoId=Model.Id,type=item.Key})" class="label theme-bg text-white f-12 add-costofval"> Add data</a></td>
                                
                            </tr>
                            }

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts{
}


