
@model TripKraken.Service.ViewModel.UserCrimeRateInputView

@section breadcrump{
    <div class="row">
        <div class="col-lg-6">
            <div class="page-header-title">
                <h4 class="m-b-10">Crime rate input</h4>
            </div>
            <ul class="breadcrumb">
                <li class="breadcrumb-item"><a href="@Url.Action("Index","Home")"><i class="feather icon-home"></i></a></li>
                <li class="breadcrumb-item"><a href="#!">My crime rate input</a></li>
            </ul>
        </div>
        <div class="col-lg-6">
            <div class="i-main no-margin-l" id="icon-wrapper" style="float: right;">
                <div class="i-block no-margin-l" data-clipboard-text="flag flag-icon-background flag-icon-@(Session["countryCode"]!=null ? (Session["countryCode"].ToString().ToLower() ??""):"")" data-filter="flag-icon-af" data-toggle="tooltip" title="" data-original-title="flag-icon-af">
                    <i class="no-padding-l flag flag-icon-background flag-icon-squared flag-icon-@(Session["countryCode"]!=null ? (Session["countryCode"].ToString().ToLower() ??""):"") icon-flag-custom"></i>
                </div>
            </div>
        </div>
    </div>


    <hr />
}
@{
    Html.RenderAction("Search", "Home", new { actionP = "UserCrimeRateInputP", controllerP = "CrimeRate" });
}
<div class="row">
    <div class="col-xl-12 no-padding-l">
        <div class="card">
            <div class="card-header">
                <h3>Crime rate input list</h3>
                <span class="d-block m-t-5"></span>
            </div>
            <div class="card-block table-border-style">
                <div class="table-responsive">
                    <table class="table table-hover f-18">
                        <tbody>
                            @foreach (var item in Model.CrimeRateList)
                            {
                                <tr>
                                    <td>@item.Id</td>
                                    <td>@item.CreateDate</td>
                                    <td>@item.CrimeRateType.Name</td>
                                    <td>@((int)item.Value) / 100</td>
                                    <td>@item.CountryInfo.Country.Name</td>
                                    <td>
                                        @using (Html.BeginForm("Delete", "CrimeRate", new { id = item.Id }))
                                        {
                                            <button class="btn btn-danger" type="submit">Delete</button>
                                        }
                                        <a href="@Url.Action("Edit", "CrimeRate", new { id = item.Id })" class="btn btn-primary text-white f-12"> Edit</a>
                                    </td>
                                </tr>
                        }

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>