@*<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>*@

@*New deisigne*@

<!DOCTYPE html>
<html lang="en">

<head>
    <title>Trip Kraken</title>
    <!--[if lt IE 11]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="Country info." />
    <meta name="keywords" content="travel, country, info">
    <meta name="author" content="Grgur" />

    <!-- Favicon icon -->
    <link rel="icon" href="~/assets/images/favicon.ico" type="image/x-icon">
    <!-- fontawesome icon -->
    <link rel="stylesheet" href="~/assets/fonts/fontawesome/css/fontawesome-all.min.css">
    <!-- animation css -->
    <link rel="stylesheet" href="~/assets/plugins/animation/css/animate.min.css">
    <!-- notification css -->
    <link rel="stylesheet" href="~/assets/plugins/notification/css/notification.min.css">
    <!-- vendor css -->
    <link rel="stylesheet" href="~/assets/css/style.css">
    <!-- Flag icon -->
    <link rel="stylesheet" href="~/assets/fonts/flag/css/flag-icon.min.css">
    <!-- select2 css -->
    <link rel="stylesheet" href="~/assets/plugins/select2/css/select2.min.css">
    <!-- multi-select css -->
    <link rel="stylesheet" href="~/assets/plugins/multi-select/css/multi-select.css">

    <!-- pnotify css -->
    <link rel="stylesheet" href="~/assets/plugins/pnotify/css/pnotify.custom.min.css">
    <!-- pnotify-custom css -->
    <link rel="stylesheet" href="~/assets/css/pages/pnotify.css">
</head>

<body>
    @*<div class="loader-bg">
            <div class="loader-track">
                <div class="loader-fill"></div>
            </div>
        </div>*@
    @{
                    /**/

                    Html.RenderPartial("_Header");
    }
    @{
        Html.RenderPartial("_Navigation");
    }
    <div class="pcoded-main-container">
        <div class="pcoded-wrapper">
            <div class="pcoded-content">
                <div class="pcoded-inner-content">
                    <div class="row align-items-center">
                        <div class="col-md-12">
                            @RenderSection("breadcrump", required: false)

                        </div>
                    </div>
                    <div class="main-body">
                        <div class="page-wrapper">
                            <!-- [ Main Content ] start -->
                            @RenderBody()
                            <!-- [ Main Content ] end -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Warning Section start -->
    <!-- Older IE warning message -->
    <!--[if lt IE 11]>
        <div class="ie-warning">
            <h1>Warning!!</h1>
            <p>You are using an outdated version of Internet Explorer, please upgrade
               <br/>to any of the following web browsers to access this website.
            </p>
            <div class="iew-container">
                <ul class="iew-download">
                    <li>
                        <a href="http://www.google.com/chrome/">
                            <img src="~/assets/images/browser/chrome.png" alt="Chrome">
                            <div>Chrome</div>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.mozilla.org/en-US/firefox/new/">
                            <img src="~/assets/images/browser/firefox.png" alt="Firefox">
                            <div>Firefox</div>
                        </a>
                    </li>
                    <li>
                        <a href="http://www.opera.com">
                            <img src="~/assets/images/browser/opera.png" alt="Opera">
                            <div>Opera</div>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.apple.com/safari/">
                            <img src="~/assets/images/browser/safari.png" alt="Safari">
                            <div>Safari</div>
                        </a>
                    </li>
                    <li>
                        <a href="http://windows.microsoft.com/en-us/internet-explorer/download-ie">
                            <img src="~/assets/images/browser/ie.png" alt="">
                            <div>IE (11 & above)</div>
                        </a>
                    </li>
                </ul>
            </div>
            <p>Sorry for the inconvenience!</p>
        </div>
    <![endif]-->
    <!-- Warning Section Ends -->
    <!-- Required Js -->
    <script src="~/assets/js/vendor-all.min.js"></script>
    <script src="~/assets/plugins/bootstrap/js/bootstrap.min.js"></script>

    <script src="~/assets/js/pcoded.min.js"></script>
    <!-- amchart js -->
    <script src="~/assets/plugins/amchart/js/amcharts.js"></script>
    <script src="~/assets/plugins/amchart/js/gauge.js"></script>
    <script src="~/assets/plugins/amchart/js/serial.js"></script>
    <script src="~/assets/plugins/amchart/js/light.js"></script>
    <script src="~/assets/plugins/amchart/js/pie.min.js"></script>
    <script src="~/assets/plugins/amchart/js/ammap.min.js"></script>
    <script src="~/assets/plugins/amchart/js/radar.js"></script>
    <script src="https://www.amcharts.com/lib/4/core.js"></script>
    <script src="https://www.amcharts.com/lib/4/maps.js"></script>
    <script src="https://www.amcharts.com/lib/4/geodata/worldLow.js"></script>
    <script src="https://www.amcharts.com/lib/4/geodata/usaLow.js"></script>
    <script src="https://www.amcharts.com/lib/4/themes/animated.js"></script>
    <!-- notification Js -->
    <script src="~/assets/plugins/notification/js/bootstrap-growl.min.js"></script>
    <script src="~/assets/plugins/pnotify/js/pnotify.custom.min.js"></script>
    <script src="~/assets/plugins/pnotify/js/notify-event.js"></script>
    @RenderSection("scripts", required: false)

    <script>
        @if (Session["CreateTxt"] != null)
        {
            <text>
        new PNotify({
            title: 'Success',
            text: '@Session["CreateTxt"].ToString()',
            type: 'success'
        });
            </text>
            Session["CreateTxt"] = null;
        }

        @if (Session["DeleteTxt"] != null)
        {
            <text>
        new PNotify({
            title: 'Deleted!',
            text: '@Session["DeleteTxt"].ToString()',
            type: 'success'
        });
            </text>
            Session["DeleteTxt"] = null;
        }




    </script>

    <!-- dashboard-custom js -->
    <script>

    </script>

</body>

</html>

